# JSON web token (JWT) secret: this keeps our app's user authentication secure
# This secret should be a random 20-ish character string
JWT_SECRET=
JWT_ALGO=≈

# Local development
MYSQL_URI=mysql://root:@localhost/working-boards

# Port
PORT=3030

# Debug
LOG_LEVEL=debug